@page "/person/edit/{Id:int}"
@inject InsCorpDbContext context
@inject NavigationManager nav

<h3>Editaced osoby id: @Id</h3>

<EditForm Model="person" OnSubmit="Save">
    <div class="form-group">
        <label class="form-label">Jméno</label>
        <InputText @bind-Value="person.FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label class="form-label">Příjmení</label>
        <InputText @bind-Value="person.LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label class="form-label">Email</label>
        <InputText @bind-Value="person.Email" class="form-control" />
    </div>
    <div class="form-group">
        <label class="form-label">Datum narození</label>
        <InputDate @bind-Value="person.DateOfBirth" class="form-control" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Ulož</button>
    </div>
</EditForm>

@if (showSuccess)
{
    <div class="alert alert-success" role="alert">
        Změny uloženy do db
    </div>
}

@if (showError)
{
    <div class="alert alert-danger" role="alert">
        NEPODAŘILO SE ULOŽIT DO DB
    </div>
}

@code {

    [Parameter]
    public int Id { get; set; }

    private Person person = new Person();

    private bool showSuccess = false;

    private bool showError = false;

    protected override void OnInitialized()
    {
        person = context.Persons.Find(Id);
    }

    private void Save()
    {
        showSuccess = false;
        showError = false;

        try
        {
            context.SaveChanges();
            nav.NavigateTo($"/person/detail/{person.Id}");
        }
        catch (Exception ex)
        {
            showError = true;
        }
    }
}
