
@{
    bool ok = (bool)ViewData["ok"];
}

<div class="card card-body">
    @DateTime.Now
    <br />
    Status: OK
    <br />
    @if (ok)
    {
        <div class="alert alert-success" role="alert">
            Připojení do db proběhlo bez problémů
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            NEPODAŘILO SE PŘIPOJIT DO DB
        </div>
    }

</div>

